body {
    font-family: Arial, sans-serif;
}

.two-column-list {
    columns: 2;
    list-style: none;
    padding: 0;
}

.two-column-list li {
    margin-bottom: 10px;
}

.single-line-list {
    list-style: none;
    padding: 0;
}

.single-line-list li {
    display: block; /* Mỗi thẻ <li> chiếm một dòng */
    margin-bottom: 10px;
    font-weight: bold; /* Đặt trọng số chữ đậm cho tiêu đề */
}
