

        @model Store_App.Models.Category;
        <section class="content-header">
            <h1>
                Cập nhật danh mục
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">


                <div class="box box-primary">
                    <form role="form" method="post" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="CategoryName" class="control-label"></label>
                                <input type="hidden" asp-for="CategoryId" class="form-control"/>
                                <input asp-for="CategoryName" class="form-control"/>
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
        </section>